* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    background-image: linear-gradient(45deg, black,green);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora {
    border: 2px solid rgb(25, 34, 8);
    padding: 10px 20px;
    text-align: center;
}

.calculadora h1 {
    color: #fff;
}
.calculadora p {
    height: 50px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 30px;
    text-align: right;
    background-color: #fff;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    margin: 2px 2px;
    background:linear-gradient(60deg,black,green);
    color: #fff;
    border-radius: 5px;
}

.botao:hover {
    background:transparent;
    color: #000;
}